.container {
    width: 80% ;
    margin: 0 auto ;
    background-color: darkgray ;
    display: flex ;
    flex-wrap: wrap ;
}

.icone {
    width: 100px ;
    height: 40px ;
    background-color: blanchedalmond ;


}

.orange {
    color: orange ;
}
.blue {
    color: blue ;
}
.green {
    color: greenyellow ;
}